# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Ruby code
[*.rb]
indent_style = space
indent_size = 2

# JavaScript files
[*.js]
indent_style = space
indent_size = 4

# Template files
[*.{erb,slim}]
indent_style = space
indent_size = 2
